= form_for(@phone_number) do |f|
  - if @phone_number.errors.any?
    .alert.alert-danger
      = pluralize(@phone_number.errors.count, "error")
      prohibited this phone_number from being saved:
      %ul
        - @phone_number.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :number
    %br/
    = f.text_field :number

    = f.hidden_field :contact_id
    = f.hidden_field :contact_type
  .form-group.pull-right
    = f.submit class: 'btn btn-success'
